header {
  font-size: 1em;
}

/* Navigation */

header nav {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-size: 1em;
}

header nav .nav-right {
  display: flex;
  align-items: center;
}

header nav .nav-right a {
  margin-left: 15px;
  font-size: 1.2em;
}

header nav .nav-left .register-login-btn {
  border: 1px solid #666;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav-left .register-login-btn a {
  margin-right: 12px;
}

/* Slider */

.slider {
  position: relative;
  font-size: 1em;
}

.slider .slides .item {
  position: relative;
  display: none;
}

.slider .slides .item.active {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.slider .slides .item img {
  width: 100%;
}

.slider .slides .item span {
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff,
    0.5px 0.5px #fff, -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff;
  position: absolute;
  color: #000;
  z-index: 1;
  right: 10%;
  top: 40%;
  font-size: 1.5em;
}

.slider .buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
}

.slider .buttons i {
  color: #ffffff66;
  margin-right: 5px;
  cursor: pointer;
}

.slider .buttons i:hover {
  color: #ffffff80;
}

/* New Products */

.new-products {
  padding: 20px 10px;
  font-size: 1em;
}

.new-products .row > div {
  margin-top: 30px;
}

.new-products .title {
  padding: 0 10px;
  padding-top: 30px;
}

.new-products .title span {
  font-weight: bold;
  font-size: 1.35em;
  border-bottom: 2px solid #ccc;
}

.new-products .shopping-card {
  text-align: center;
  box-shadow: 0 2px 8px 0 #666;
  margin: 0 15px;
  border-radius: 5px;
  padding: 10px;
  height: 100%;
  transition: 0.2s;
}

.new-products .shopping-card:hover {
  box-shadow: 0 4px 16px 1px #666;
}

/* Shopping Card */

.shopping-card .img-section {
  position: relative;
  overflow: hidden;
}

.shopping-card .img-section img {
  min-height: 150px;
  max-width: 60%;
  margin-top: 40px;
}

.shopping-card .img-section .hot-offer {
  background-color: #e74c3c;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 0.9em;
}

.shopping-card .img-section .stars {
  position: absolute;
  left: 2px;
  top: 2px;
}

.shopping-card .img-section .stars i {
  color: #f39c12;
}

.shopping-card .title {
  color: #333;
  margin: 15px 0;
}

.shopping-card .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.shopping-card .buttons .right .price {
  color: #444;
  font-weight: bold;
}

.shopping-card .buttons .left {
  display: flex;
}

.shopping-card .buttons .left .extend-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #2ecc71;
  color: #fff;
  width: 40px;
  padding: 8px 12px;
  border-radius: 25px;
  cursor: pointer;
  height: 30px;
}

.shopping-card .buttons .left .extend-btn .b-text {
  color: #fff;
  display: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.shopping-card .buttons .left .extend-btn:hover .b-text {
  animation: fade-in 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-card .buttons .left .extend-btn:hover .b-icon {
  display: none;
}

.shopping-card .buttons .left .extend-btn .b-icon i {
  animation: fade-in 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Super Offer */

.super-offer {
  padding: 20px 10px;
  font-size: 1em;
}

.super-offer .title {
  padding: 20px 10px;
  padding-top: 40px;
}

.super-offer .title span {
  font-weight: bold;
  font-size: 1.35em;
  border-bottom: 2px solid #ccc;
}

.super-offer-box {
  text-align: center;
  box-shadow: 0 2px 8px 0 #666;
  border-radius: 5px;
  margin: 5px 14px;
}

.super-offer-box > .title {
  background-color: #e74c3c;
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px 30px;
  display: inline-block;
}

.super-offer-box .body .image-container {
  text-align: center;
  padding: 30px;
}

.super-offer-box .body .image-container img {
  max-width: 100%;
}

.super-offer-box .body .specification {
  padding: 30px 5px;
}

.super-offer-box .body .specification .price-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.super-offer-box .body .specification .price-row .off-price {
  margin-left: 35px;
  color: #444;
  text-decoration: none;
  position: relative;
  font-size: 1.2em;
}

.super-offer-box .body .specification .price-row .off-price::before {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  border-bottom: 1px solid #555;
}

.super-offer-box .body .specification .price-row .price {
  font-size: 1.2em;
}

.super-offer-box .body .specification .title {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 1.4em;
}

.super-offer-box .body .specification .counter-down {
  border-top: 1px solid #ccc;
  margin: 10px 40px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.super-offer-box .body .specification .remaining-time {
  color: #555;
  font-size: 0.9em;
}

.super-offer .banner {
  text-align: center;
  padding: 0 5px;
}

.super-offer .banner img {
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 #666;
  max-width: 80%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .super-offer .banner {
    display: none;
  }
}

/* Draggable Product List */

.draggable-list .title {
  padding: 15px 10px;
  padding-top: 30px;
}

.draggable-list .title span {
  font-weight: bold;
  font-size: 1.35em;
  border-bottom: 2px solid #ccc;
}

.draggable-list img {
  width: 70% !important;
  margin: auto;
}

.draggable-list {
  padding: 20px 10px;
  font-size: 1em;
}

.draggable-list .shopping-card {
  text-align: center;
  box-shadow: 0 2px 8px 0 #666;
  margin: 20px 15px;
  border-radius: 5px;
  padding: 10px;
  height: 100%;
  transition: 0.2s;
}

.draggable-list .shopping-card:hover {
  box-shadow: 0 4px 14px 1px #666;
}
